* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  font-family: Montserrat Alternates;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1200px;
  --container-padding: 15px;
  --font-main: "Montserrat Alternates", sans-serif;
  --page-bg: #fff;
  --text-color: #6d6b67;
  --accent: #ac182c;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #fff;
  padding: 24px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts {
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header__contacts-hr {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 0px;
  height: 50px;
}
.header__contacts-tel {
  background: linear-gradient(180deg, rgb(253, 229, 17), rgb(255, 210, 34));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__contacts-tel a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all .5s;
}
.header__contacts-tel a:hover {

}

.header__contacts-social {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.header__contacts-social img {
  max-height: 30px;
  border-radius: 10px;

  transition: all 0.5s;
}
.header__contacts-social img:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  max-width: 222px;
  transition: all 0.5s;
}
.logo:hover {
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.52);
}

@media screen and (max-width: 768px) {
  .header__contacts {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5px;
  }
  .header__contacts-tel a {
    font-size: 14px;
  }
  .header__contacts-social img {
    height: 20px;
  }
  .logo {
    width: 25%;
  }
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ffc330;
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

/* Nav Icon */
.mobile-nav-btn {
  --time: 0.3s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --spacing: 6px;
  --color: #000;
  --radius: 4px;
  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */
  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  /* top: calc(var(--line-height) * -2); */
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  /* top: calc(var(--line-height) * 2); */
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
}

.delivery {
  border-radius: 10px;
  background: linear-gradient(180.00deg, rgba(255, 255, 255, 0),rgba(242, 241, 239, 0.42) 100%);
  display: flex;
}

.delivery__wrapper {
  margin-top: 90px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.delivery__item {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.delivery__item-img {
  max-height: 150px;
  max-width: 200px;
}

.delivery__item-title {
  color: #ffc330;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.delivery__item-descr {
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .delivery__item {
    flex: 0 0 100%;
  }
}

.how-we-work {
  margin-top: 20px;
}

.how-we-work__title {
  display: flex;
  justify-content: center;
  color: #ffc330;
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  text-align: center;
}

.how-we-work__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.how-we-work__item {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.how-we-work__item-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}

.how-we-work__item-img p {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  color: #ffc330;
}
.how-we-work__item-img img {
  max-width: 150px;
  max-height: 150px;
}

.how-we-work__item-descr {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .how-we-work__wrapper {
    justify-content: center;
  }

  .how-we-work__item {
    margin-top: 50px;
  }
  .how-we-work__title {
    font-size: 24px;
  }
}

.furniture {
  background: url("./assets/img/bg-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.furniture__logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  gap: 210px;
}

.furniture__logo-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  max-width: 95%;
}

.furniture__logo-title {
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
  color: #ffc330;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.furniture__logo-title span {
  color: #fff;
}

.furniture__form {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.furniture__form-btn-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 66px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
  background: #ffffff;
  color: #d5d1ca;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.furniture__form-btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 66px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background: #ffc330;
  color: #fff;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.furniture__form-btn-grey:hover {
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.52);
}

.furniture__form-btn-yellow:hover {
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.52);
}

@media screen and (max-width: 768px) {
  .furniture__form {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .furniture__form-btn-grey,
  .furniture__form-btn-yellow {
    width: 100%;
  }
  .furniture__logo-title {
    font-size: 40px;
  }
  .furniture__logo-title span {
    font-size: 32px;
  }

  .furniture__logo-wrapper {
    gap: 40px
  }

  .furniture__form {
    margin-bottom: 30px;
  }
}

.popup {
  display: none; /* Сховане за замовчуванням */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  backdrop-filter: blur(25px);
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.connection__form-title {
  color: #ffc330;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin: 60px auto;
  text-align: center;
}

.connection__form-label {
  display: block;
  margin-bottom: 40px;
}

.connection__form-label input,
.connection__form-label textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
  height: 66px;
  background: rgb(255, 255, 255);
}

.connection__form-label textarea {
  height: 188px;
  resize: none;
}

.connection__form-params {
  display: flex;
  gap: 13px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #ffc330;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
  cursor: pointer;
  width: 370px;
  max-width: 90%;
  height: 66px;
  display: block;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}

.submit-button:hover {
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.52);
}

@media screen and (max-width: 1024px) {
  .connection__form-title {
    font-size: 24px;
    margin: 20px auto;
  }

  .connection__form-label {
    margin-bottom: 10px;
  }

  .connection__form-label input,
  .connection__form-label textarea {
    height: 66px;
  }

  .connection__form-label textarea {
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .connection__form-title {
    font-size: 16px;
    margin: 10px auto;
  }

  .connection__form-label {
    margin-bottom: 10px;
  }

  .connection__form-label input,
  .connection__form-label textarea {
    height: 40px;
    font-size: x-small;

  }

  .connection__form-label textarea {
    height: 80px;
  }
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.services__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: #ffc330;
  margin: 47px auto;
  text-align: center;
}
.services__wrapper {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(122, 110, 87, 0.8) -12.035%,
    rgba(194, 183, 160, 0.8) 43.326%,
    rgba(240, 230, 211, 0.8) 108.753%
  );
}

.services__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin-top: 14px;
}
.services__item:nth-child(even) {
  flex-direction: row-reverse;
}
.services__short {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  color: #fff;
  min-width: 30%;
  max-height: 100px;
  padding: 10px;
  height: 162px;
  overflow-x: hidden;
}

.services__short img {
  height: 100%;
}

.services__short:nth-child(odd) {
  justify-content: space-around;
}

.services__long {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.51);
  color: #6d6b67;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  height: 162px;
  min-width: 70%;
  padding: 10px;
  text-align: center;
}

.services__item:last-child {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .services__item {
    flex-direction: column;
  }
  .services__item:nth-child(even) {
    flex-direction: column;
  }

  .services__long,
  .services__short {
    font-size: 24px;
    min-height: 80px;
    width: 95%;
    height: max-content;
  }
  .services__short img {
    max-width: 50px;
  }

  .services__title {
    margin: 20px auto;
    font-size: 24px;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: #ffc330;
  margin: 56px auto;
}

.advantages__wrapper {
  background: url("./assets/img/bg-2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.advantages__we-container {
  display: flex;
  justify-content: space-between;
  margin: 26px auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1440px;
}

.advantages__we {
  width: 40%;
  border-radius: 10px;
  background: rgba(245, 243, 239, 0.48);
}

.advantages__we-title {
  color: #6d6b67;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  margin-top: 112px;
  margin-bottom: 76px;
  text-align: center;
}

.advantages__we-list li {
  position: relative;
}
.advantages__we-list li::after {
  position: absolute;
  content: "";
  top: calc(50% - 8px);
  transform: translateX(-50%);
  left: -25px;
  width: 16px;
  height: 16px;
  background: #ffc330;
}

.advantages__we-list li {
  margin-bottom: 85px;
  margin-left: 60px;
  color: #6d6b67;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
}

.advantages__logo-img {
  padding-top: 85px;
  padding-left: 10px;
  padding-right: 10px;
}
.advantages__logo-title {
  font-size: 80px;
  font-weight: 500;
  line-height: 98px;
}

.advantages__btn {
  margin-top: 90px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 195, 48);
  width: 95%;
  max-width: 650px;
  height: 152px;
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

@media screen and (max-width: 1024px) {
  .advantages__we-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
  }
  .advantages__we {
    width: 100%;
  }

  .advantages__logo-img {
    width: 100%;
  }

  .advantages__logo-img {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .advantages__logo-img {
    margin-top: 10px;
    padding-top: 0;
  }

  .advantages__logo-title {
    font-size: 60px;
  }

  .advantages__btn {
    font-size: 23px;
    height: 100px;
  }
  .advantages__we-title {
    margin: 20px auto;
  }
  .advantages__we-list li {
    margin-bottom: 20px;
  }

  .advantages__title {
    margin: 16px auto;
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .advantages__logo-title {
    font-size: 36px;
    line-height: 60px;
  }
}


.form-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-price__title  {
  text-align: center;
}

.form-price__wrapper {
  background: url('./assets/img/bg-3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  background: rgba(245, 243, 239, 0.64);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 760px;
  margin: 10px auto;
}

.form-container__title {
  text-align: center;
  color: #6d6b67;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  margin: 45px auto;
}

.form-price select, .form-price input {
  color: #6d6b67;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  width: 100%;
  max-width: 760px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #fff;
  outline: none;
  appearance: none;
  background-image: url('./assets/img/Polygon.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px;
  height: 80px;
  cursor: pointer;
}

.form-price input {
  background-image: none;
}

.form-price button {
  width: 412px;
  height: 93px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffc330;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 36px auto;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .5s;
  display: block;
}

.form-price button:hover {
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.52);
}

@media screen and (max-width: 760px) {
  .form-price select,.form-price input,.form-price button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    background-position: right 10px center;
    background-size: 12px;
    height: 50px;
  }
  .form-container__title {
    margin: 20px auto;
    font-size: 24px;
  }

}

.dynamic-fields {
  display: none; /* Hidden by default */
}

@media (max-width: 768px) {
  .form-container {
      padding: 15px;
  }
}

.gallery__title {
  text-align: center;
}
.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery__item {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  transition: all .5s;
}

.gallery__item a {
  display: block;
  text-decoration: none;
  color: white;
}

.gallery__item-bg {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.gallery__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}

.gallery__item-title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  width: max-content;
  max-width: 95%;
  text-align: center;
  z-index: 2;
}



.gallery__item:hover .gallery__item-bg {
  transform: scale(1.1);
}
.gallery__item:hover {
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.22);
}

.blog__item {
  position: relative;
  min-width: 300px;
  flex: 0 1 calc(50% - 20px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  transition: all .5s;
}

.blog__item:nth-child(3n) {
  flex: 0 1 calc(100% - 20px);
}

.blog__item-title {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 30px;
  font-weight: bold;
  max-width: 95%;
  text-align: center;
}

.partners__wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
  flex-wrap: wrap;
}

.partners__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items:center;

}

.partners__item-img {
  max-width: 200px;
}
.partners__item p {
  color: #6d6b67;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 30px;
  text-align: center;
}

.electrolux {
  margin-top: 20px;
  margin-bottom: 50px;
  background: url('./assets/img/electrolux-bg.png');
  background-size:cover;
  background-position: center;
}

.electrolux__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:end
}

.electrolux__wrapper-right {
  display: flex;
  flex-direction: column;
  align-items:center
}

.electrolux__title {
  margin-top: 40px;
  font-size: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.electrolux__title img {
  max-height: 50px;
}

.electrolux__descr {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  color: #fff;
  max-width: 550px;
  margin-top: 40px;
}
.electrolux__descr span {
  color: #FFC330;
}

.electrolux__btn {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  width: 90%;
  max-width: 356px;
  height: 82px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background: rgba(196, 196, 196, 0.47);
  margin-top: 25px;
  margin-bottom: 39px;
}

@media (max-width: 425px) {
  .electrolux__title {
    font-size: 40px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc330;
  padding: 50px 0;
  color: #fff;
  margin-top: auto;
}

.footer__contacts-social {
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items:start;
  gap: 20px;
}

.footer__links-item a {
  display: flex;
  align-items:center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  transition: all .5s;
}

.footer__links-item a:hover {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.footer__tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.footer__tel a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.footer__contacts-social{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1020px) {
  .footer__links-item a {
    font-size: 16px;
  }
  .footer__logo-img {
    width: 100%;
  }
  .footer__contacts-social {
    font-size: 16px;
    text-align: center;
  }

  .footer__tel {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }
  .footer__links-item a {
    font-size: 14px;
  }
 .footer__wrapper {
  flex-wrap: wrap;
 }

 .footer__links {
  align-items:center;
  gap: 10px;
 }

 .footer__logo {
  display: flex;
  justify-content: center;
  flex: 0 1 calc(50% - 20px);
}
.footer__links {
  flex: 0 1 calc(50% - 20px);
}

.footer__tel {
  flex: 0 1 calc(50% - 20px);
}

.footer__tel img {
  height: 26px;
}

.footer__contacts-social {
  flex: 0 1 calc(50% - 20px);
}

}
@media (max-width: 425px) {



 .footer__logo {
  display: flex;
  justify-content: center;
  flex: 0 1 calc(100% - 20px);
}
.footer__links {
  flex: 0 1 calc(100% - 20px);
}

.footer__tel {
  gap: 10px;
  flex: 0 1 calc(100% - 20px);
}

.footer__contacts-social {
  gap: 10px;
  flex: 0 1 calc(100% - 20px);
}

}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about__wrapper-title {
  display: flex;
}

.about__title-img {
  width: 50%;
  height: 450px;
}

.about__title {
  width: 50%;
  text-align: center;
  align-content: center;
  padding: 25px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: #ffc330;
}

.about__wrapper-title-left {
  width: 50%;
}

.about__wrapper-title-left {
  padding-top: 80px;
}

.about__descr-title {
  font-size: 18px;
  color:#6d6b67;
  position: relative;
  border-bottom: 2px solid #ffc330;
  width: max-content;
}


.about__descr-items {
  padding-left: 30px;
  font-size: 18px ;
  line-height: 24px;
  margin-top: 60px;
}

.about__descr-items li {
  padding-left: 15px;
  list-style: disc;
}

.about__descr-descr {
  font-size: 18px ;
  line-height: 24px;
  margin-top: 40px;
}

.about__descr-descr {
  font-size: 18px ;
  line-height: 24px;
}

.about__wrapper-title-right {
  background-color:#ffc330;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px ;
  line-height: 30px;
}

.about__wrapper-title-right-descr-img {
  width: 30px;
  transform: rotate(-20deg);
}

@media (max-width: 765px) {
  .about {
    flex-direction: column;
  }
  .about__wrapper-title {
    flex-direction: column;
  }

  .about__title {
    width: 100%;
    font-size: 24px;
  }

  .about__wrapper-title-right, .about__wrapper-title-left {
    width: 100%;
  }

  .about__wrapper-title-left {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .about__wrapper-title-left p {
    text-align: center;
    margin-bottom: 20px;
  }

  .about__descr-items {
    margin-top: 20px;
  }

  .about__title-img {
    width: 100%;
    height: 250px;
  }
}

.page-gallery-item {

}

.page-gallery-item__title-wrapper {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.06),rgba(243, 235, 217, 0.85) 100%);
}

.page-gallery-item__img, .page-gallery-item__info {
  max-width: 50%;
}

.page-gallery-item__title {
  color: #6d6b67;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
}

.page-gallery-item__descr {
  margin-top: 90px;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
}

.page-gallery-item__info-btn {
  margin: 0 auto;
  margin-top: 100px;
  height: 100px;
  width: 431px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffc330;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 1020px) {
  .page-gallery-item__title-wrapper {
    flex-direction: column;
  }
  .page-gallery-item__img, .page-gallery-item__info {
    max-width: 90%;
  }

  .page-gallery-item__descr {
    margin-top: 30px;
    text-align: center;
  }

  .page-gallery-item__info-btn {
    max-width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 425px) {

  .page-gallery-item__title, .page-gallery-item__descr, .page-gallery-item__info-btn {
    font-size: 24px;
  }

}

.page-gallery-item__project-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap; justify-content: center ;
  gap: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.06),rgba(243, 235, 217, 0.85) 100%);
}

.page-gallery-item__project-item {
  position: relative;
  min-width: 300px;
  flex: 0 1 calc(50% - 20px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  transition: all .5s;
  height: 400px;
}

.page-gallery-item__project-item:nth-child(3n) {
  flex: 0 1 calc(100% - 20px);
}

.page-gallery-item__project-item-btn {
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background: rgba(255, 195, 48, 0.62);
  font-size: 25px;
}

.page-gallery-item__project-item-bg {
  height: 400px;
}

@media (max-width: 760px) {
  .page-gallery-item__project-item {
    flex: 0 1 calc(100% - 20px);
  }
  .page-gallery-item__project-item-btn {
    font-size: 16px;
  }
}

.question__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question__answer-item {
  display: flex;
  flex: 0 1 50%;
}
.question__answer-item:nth-child(3) {
  flex-direction: row-reverse;
}
.question__answer-item:nth-child(4) {
  flex-direction: row-reverse;
}

.question__answer-item .rect {
  width: 30px;
  height: 4px;
  background-color:#ffc330;
  margin-top: 20px;
}

.question__answer-img  {
  width: 50%;
  min-height: 242px;
  min-width: 242px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.22);
}
.question__answer-img img {
  width: 100%;
  height: 100%;
}

.question__answer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: calc(50% - 20px);
  padding: 10px;
}

.question__answer-text-question {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color:#6d6b67;
  padding: 10px;
  border-bottom: 2px solid #ffc330;
}
.question__answer-text-answer {
  text-transform: uppercase;
  font-size: 18px;
  color:#6d6b67;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}



@media (max-width: 1024px) {
  .question__answer-text-question, .question__answer-text-answer {
    font-size: 14px;
  }
}
@media (max-width: 1020px) {
  .question__answer-item {
    flex: 0 1 100%;
  }
}
@media (max-width: 760px) {
  .question__answer-item {
    flex-direction: column;
    align-items: center;
  }

  .question__answer-text {
    max-width: 100%;
    gap: 20px;
  }

  .question__answer-item:nth-child(3) {
    flex-direction: column;
  }
  .question__answer-item:nth-child(4) {
    flex-direction: column;
  }

  .question__answer-item .rect {
    display: none;
  }
}